<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meetings_app.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meetings_app.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meetings_app.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meetings_app.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @meetings_app.user_id %>
</p>

<%= link_to 'Edit', edit_meetings_app_path(@meetings_app), class:"btn btn-secondary" %> 
<%= link_to 'Back', meetings_apps_path, class:"btn btn-secondary" %>
